MINNEAPOLIS, Minnesota (CNN) -- Drivers who were on the Minneapolis bridge when it collapsed told harrowing tales of survival. "The whole bridge from one side of the Mississippi to the other just completely gave way, fell all the way down
," survivor Gary Babineau told CNN. "I probably had a 30-, 35-foot free fall. And there's cars in the water, there's ca
rs on fire. The whole bridge is down." He said his back was injured but he determined he could move around. "I realized
 there was a school bus right next to me, and me and a couple of other guys went over and started lifting the kids off
the bridge. They were yelling, screaming, bleeding. I think there were some broken bones."  Watch a driver describe his
 narrow escape » . At home when he heard about the disaster, Dr. John Hink, an emergency room physician, jumped into hi
s car and rushed to the scene in 15 minutes. He arrived at the south side of the bridge, stood on the riverbank and saw
 dozens of people lying dazed on an expansive deck. They were in the middle of the Mississippi River, which was churnin
g fast, and he had no way of getting to them. He went to the north side, where there was easier access to people. Ambul
ances were also having a hard time driving down to the river to get closer to the scene. Working feverishly, volunteers
, EMTs and other officials managed to get 55 people into ambulances in less than two hours. Occasionally, a pickup truc
k with a medic inside would drive to get an injured person and bring him back up even ground, Hink told CNN. The rescue
 effort was controlled and organized, he said; the opposite of the lightning-quick collapse. "I could see the whole bri
dge as it was going down, as it was falling," Babineau said. "It just gave a rumble real quick, and it all just gave wa
y, and it just fell completely, all the way to the ground. And there was dust everywhere and it was just like everyone
has been saying: It was just like out of the movies." Babineau said the rear of his pickup truck was dangling over the
edge of a broken-off section of the bridge. He said several vehicles slid past him into the water. "I stayed in my car
for one or two seconds. I saw a couple cars fall," he said. "So I stayed in my car until the cars quit falling for a se
cond, then I got out real quick, ran in front of my truck -- because behind my truck was just a hole -- and I helped a
woman off of the bridge with me. "I just wanted off the bridge, and then I ran over to the school bus. I started grabbi
ng kids and handing them down. It was just complete chaos." He said most of the children were crying or screaming. He a
nd other rescuers set them on the ground and told them to run to the river bank, but a few needed to be carried because
 of their injuries.  See rescuers clamber over rubble » . Babineau said he had no rescue training. "I just knew what I
had to do at the moment." Melissa Hughes, 32, of Minneapolis, told The Associated Press that she was driving home when
the western edge of the bridge collapsed under her. "You know that free-fall feeling? I felt that twice," Hughes said.
A pickup landed on top of her car, but she was not hurt. "I had no idea there was a vehicle on my car," she told AP. "I
t's really very surreal." Babineau told the Minneapolis Star-Tribune: "On the way down, I thought I was dead. I literal
ly thought I was dead. "My truck was completely face down, pointed toward the ground, and my truck got ripped in half.
It was folded in half, and I can't believe I'm alive."  See and hear eyewitness accounts » . Bernie Toivonen told CNN's
 "American Morning" that his vehicle was on a part of the bridge that ended up tilted at a 45-degree angle. "I knew the
 deck was going down, there was no question about it, and I thought I was going to die," he said. After the bridge sett
led and his car remained upright, "I just put in park, turned the key off and said, 'Oh, I'm alive,' " he said. E-mail
to a friend .
BAGHDAD, Iraq (CNN) -- Dressed in a Superman shirt, 5-year-old Youssif held his sister's hand Friday, seemingly unaware
 that millions of people across the world have been touched by his story. Nearby, his parents talked about the new futu
re and hope they have for their boy -- and the potential for recovery from his severe burns. Youssif holds his sister's
 hand Friday. He's wearing a facial mask often used to help burn victims. It's the best birthday present the Iraqi fami
ly could ever have imagined for their boy: Youssif turns 6 next Friday. "I was so happy I didn't know what to do with m
yself," his mother, Zainab, told CNN, a broad smile across her face. "I didn't think the reaction would be this big." H
is father said he was on the roof of his house when CNN called him with the news about the outpouring of support for hi
s son. "We just want to thank everyone who has come forward," he said. "We knew there was kindness out there." Like his
 wife, he couldn't stop smiling. He talked about how he tried in vain to get help for his son in Baghdad, leaving "no s
tone unturned" on a mission to help his boy. There were many trips to the Ministry of Health. He says he even put in a
request to Iraq's parliament for help. The family eventually told CNN their story -- that Youssif was grabbed by masked
 men outside their home on January 15, doused in gasoline and set on fire. Simply by coming forward, his parents put th
emselves in incredible danger. No one has been arrested or held accountable in Youssif's case.  Watch CNN's Arwa Damon
describe 'truly phenomenal' outpouring » . Shortly after Youssif's story aired Wednesday, the Children's Burn Foundatio
n -- a nonprofit organization based in Sherman Oaks, California, that provides support for burn victims locally, nation
ally and internationally -- agreed to pay for the transportation for Youssif and his family to come to the United State
s and to set up a fund for donations. You can make a donation at the foundation's site by clicking here. There's a drop
-down menu under the "general donation" area that is marked "Youssif's fund." The foundation says it will cover all med
ical costs -- from surgeries for Youssif to housing costs to any social rehabilitation that might be needed for him. Su
rgeries will be performed by Dr. Peter Grossman, a plastic surgeon with the affiliated Grossman Burn Center who is dona
ting his services for Youssif's cause.